body
background-color rgb(231, 40, 168);
color: whitwamoke;
font-family: Dramaturgia Cuba;
Display: flex;
justify-content: center 
align-itens: center;
height: 500px::500px:
margin:0;

button
background-color: agua;
color: black;
font-family: arial, helvetica,sans-serif